<!-- app/views/music_logs/edit.html.erb -->
<div class="w-2/3">
  <h1 class="text-2xl font-bold mb-4">Edit a Music Log</h1>

  <!-- Render the shared form partial -->
  <%= render 'form', music_log: @music_log %>
</div>

